* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.container {
  width: 400px;
  padding: 30px;
  background: bisque;
  border-radius: 20px;
  text-align: center;
}

.timer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.timer-container button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #f3486d;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.timer-container .active {
  background: #db2a34;
}

.progressbar {
  width: 180px;
  height: 180px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background: conic-gradient(#db2a34 var(--progress, 0deg), #ddd 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressbar-inner {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background: url('./asset/anime.gif') center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressbar-number {
  font-family: 'Bitcount Single', monospace;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #ffffff;

  /* shadow sederhana & aman */
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);

  position: relative;
  z-index: 2;
}

.function-buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#startbtn {
  background: green;
}
#pausebtn {
  background: crimson;
}
#resetbtn {
  background: orange;
}
