body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
}
.container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  padding: 50px 20px;
  border-radius: 15px;
}
.timer-container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.timer-container button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0 1);
  color: #ffffff;
  font-weight: bold;
  background-color: #f3486d;
  cursor: pointer;
}
.timer-container button:hover {
  transform: scale(1.2);
}

/* warna buat button pomodoro */
.timer-container .active {
  background-color: #db2a34;
}

#startbtn,
#pausebtn,
#resetbtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  color: #ffffff;
  font-weight: bold;
  background-color: #f3486d;
  cursor: pointer;
}
#startbtn {
  background-color: #008000;
}
#pausebtn {
  background-color: #db2a34;
}
#resetbtn {
  background-color: #ffa600;
}
.progressbar {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background: url('/asset/anime.gif') center/cover;
  mask: conic-gradient(#000 0deg, #000 var(--progress), transparent 0);
  -webkit-mask: conic-gradient(#000 0deg, #000 var(--progress), transparent 0);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 3s infinite;
  transition: all ease;
  margin-bottom: 50px;
}
#progressbar-inner {
  height: 90%;
  width: 90%;
  background: #03033f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progressbar-number {
  font-family: 'Bitcount Single', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  text-shadow:
    0 0 6px rgba(38, 230, 73, 0.8),
    0 0 12px rgba(22, 240, 41, 0.5);
}


@keyframes pulse {
  0% {
    transition: scale(0.97);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.97);
  }
}
